h1 {
    color: rgb(243, 25, 9);
    font-family: 'Times New Roman', Times, serif;
} 
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
body {
    background-color: rgb(248, 248, 144);
}
.html {
    font-size: 25px;
}
.css {
    font-size: 30px;
}
.javascript {
    font-size: 35px;
}

#personal-photo {
    margin: 10px;
    width: 300px;
    float: left;
    background-color: green;
    padding: 3%;
}

#description {
    margin: 30px 80px;
    width: 400px;
    float: left;
    margin-right: 35%;
    margin-bottom: 10%;
}

#name-page {
    text-align: center;
}