h1 {
    color: #AF9164;
    font-family: 'Times New Roman', Times, serif;
} 
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
body {
    background-color: #F3EFF5;
}
.html {
    font-size: 25px;
}
.css {
    font-size: 30px;
}
.javascript {
    font-size: 35px;
}

#personal-photo {
    position: absolute;
    width: 300px;
    background-color: #454955;
    padding: 3%;
    margin-top: 10px;
    margin-left: 1%;
    margin-bottom: 500px;
    }

#description {
    position: absolute;
    left: 500px;
    margin-top: 25px;
    margin-right: 5%;
    margin-bottom: 10%;
}

#site-body {
    position: absolute;
    margin-top: 440px;
}

#name-page {
    text-align: center;
}

ul li:nth-of-type(odd) {
    background-color: #6A8EAE;
    display: inline-block;
}